@charset "utf-8";

/*全局属性*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Comic Sans MS";
    caret-color: transparent;
    /* 隐藏光标 */
}


body {
    background-color: #faead3;
}

h2 {
    color: #4c6474;
    margin: 10px 20px;
}

/* 头像及内容文本 */
#Portrait {
    height: 100px;
    width: 100px;
    overflow: hidden;
    border-radius: 50%;
}

#Portrait img {
    width: 100%;
}

#says img {
    margin-left: 50px;
    width: 80%;
    height: 100%;
    border-radius: 10px;
}

/* 悬浮窗 */
.content {
    display: none;
    background-color: #aeaeae50;
    /* z轴 即悬浮 */
    z-index: 1002;

    position: fixed;
    /* 位置及大小 */
    top: 10%;
    left: 25%;
    width: 55%;
    height: 55%;

    backdrop-filter: blur(10px);
    border-radius: 15px;
    padding: 10px;
}

.content img {
    border-radius: 5px;
    height: 100px;
    width: 100px;
    float: left;
    margin: 8px;
}