* {
    margin: 0;
    padding: 0;
}

body {
    margin: 2% 5%;
    background-color: #ffd4a9;
    
}

button {
    padding: 0 .5em;
    background-color: #fffaec;

    color: #444d56;
    line-height: 1.6em;

    border: 1px solid #ddd;
    border-radius: 4px;
    box-shadow: inset 0 -1px 0 #d1d5da;

}

button:hover {
    background-color: #fffaec55;
}
button:active {
    background-color: #fffaec;
}

/* 展示框 */
.members {
    display: flex;
    flex-wrap: wrap;
}

/* 卡片 */
.container {
    display: flex;
    align-items: center;

    padding: 1%;
    margin: 2%;

    background-color: #f1f2e5;

    width: fit-content;

    border-radius: 10px;

    box-shadow: 3px 2px #00000020;
}

#logo img {
    width: 40px;
    height: 40px;
    border: 2px solid #00000020;
    border-radius: 10px;
    margin-right: 10px;
}
#data #key span {
    width: max-content;
    background-color: #ddd;

    border-radius: 5%;
}