* {
    padding: 0;
    margin: 0;
}

html {
    width: 100%;
    height: 100%;
}

.Btn {
    width: 10%;
    color: #ffffff90;

    font-size: 1.5em;
    margin: 1em;
    padding: 0.3em;
    line-height: 1.5em;

    border-bottom: 2px solid #ffffff90;

    background-color: #ffffff00;


    /* 修改指针 */
    cursor: pointer;
    /* 隐藏光标 */
    caret-color: transparent;
    /* 不可选中 */
    user-select: none;
}

.Btn:hover {
    filter: drop-shadow(0 0 10px #fff);
}

.Btn:active {
    filter: none;
}

.namespace {
    color: #fff;
    margin: 15% 0;
    margin-bottom: 2%;
    font-size: 3.5em;
    text-align: center;
}

.eventBtn {
    text-align: center;
}

#Group .Btn,
.eventBtn .Btn {
    display: inline-block;
    text-align: center;
}

.names {
    margin: 0 15%;
}

.names span {
    display: inline-block;
    text-align: center;
    font-size: 1.1em;
    width: 20%;
    margin: 0.5em;
}

#Group {
    background-color: #ffffff10;
    margin: 0 20%;
}