@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1661351716274') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-file-text-fill:before {
  content: "\e61a";
}

.icon-calendar-check-fill:before {
  content: "\e61b";
}

.icon-dianzan:before {
  content: "\e69f";
}

